/** Main div containing search results **/
div.solr-content{
  width:100%!important;
}

/** Display search form **/
form.solr-search-form{
  display:block;
}

/** global overrides for list styles and fonts **/
.solr * {
	line-height: 1 !important;
	padding: 0 !important;
	margin: 0 !important;
	text-align: left !important;
}
.solr ol, .solr ul, .solr ol li, .solr ul li {
	background: none !important;
	list-style-type: none !important;
	overflow: hidden !important; /* IE7 */
}
.solr h2 {font-size:16px !important;}
.solr h3 {font-size:14px !important;}
.solr {
	font-size: 12px !important;
	line-height: 1 !important;
	margin: 0 !important;
	padding: 20px !important;
	width: auto !important;
}


/** Columns / layouts **/
div.solr-central-col {
	border-bottom: 1px solid #cccccc !important;
	padding: 0 0 6px !important;
}

div.solr-col-1 {
	float: left !important;
	padding: 18px 2% 0 0 !important;
	width: 18% !important;
}

div.solr-col-2 {
	float: right !important;
	padding: 8px 0 0 !important;
	width: 80% !important;
}

div.solr-col-2.nofacets {
	padding: 8px 0 0 !important;
	width: 100% !important;
}

div.solr-spellcheck {
	padding: 0 0 5px !important;
}
label.solr-response-time {
	font-size: 10px !important;
	float: right !important;
}

.solr-active span {
	border-top: 4px solid #ffffff !important;
	border-left: 5px solid #999999 !important;
	border-bottom: 4px solid #ffffff !important;
	font-size: 0 !important;
	line-height: 0 !important;
	width: 0 !important;
	margin: 0 4px 0 0 !important;
	position: relative !important;
	bottom: 4px !important;
	zoom: 1 !important; /* IE7 */
}
.solr-active b {
	font-family: Arial, Verdana, Helvetica, sans-serif !important;
	font-weight: bold !important;
	color: #999999 !important;
}
.solr-active a {
	text-decoration: none !important;
}
.solr-facets ol li {
	padding: 3px 0 3px !important;
}
.solr-facets ol li ol {
	padding: 3px 0 0 10px !important;
}
.solr-facets h3 {
	padding: 10px 0 3px !important;
}
.solr_active ol li {
	padding: 3px 0 !important;
}
.solr_active a {
	color: #000000 !important;
}

div.solr-results-header {
	font-size: 10px !important;
	color: #666666 !important;
	padding: 0 0 4px !important;
}

.solr-results ol {
	font-size: 12px !important;
	padding: 0 0 14px !important;
	clear: both !important; /* IE7 */
}
.solr-results li {
	border-bottom: 1px solid #e6e6e6 !important;
	padding: 14px 0 !important;
}

.solr-results img {
	height: 50px !important;
	border: 1px solid #cccccc !important;
	float: right !important;
	display: block;
	margin: 0 0 0 5px !important;
}
.solr-results h2 {
	font-weight: normal !important;
	line-height: 1.1 !important;
	padding: 0 0 5px !important;
}
.solr-results label {
	font-size: 10px !important;
	color: #666666 !important;
	padding: 5px 0 0 !important;
	display: block !important;
}
.solr-pagination {
	font-size: 14px !important;
	font-weight: bold !important;
	text-align: right !important;
}
.solr-pagination a {
	margin: 0 0 0 5px !important;
}
.solr-pagination-on {
	color: #000000 !important;
}
div.solr_noresult {
	padding: 20px 5% 40px 0 !important;
}
.solr_noresult h2 {
	font-weight: normal !important;
	line-height: 1.2 !important;
	padding: 0 0 14px !important;
}
.solr_noresult h3 {
	font-weight: normal !important;
	line-height: 1.2 !important;
	padding: 0 0 14px !important;
}
.solr_noresult p {
	font-weight: normal !important;
	line-height: 1.2 !important;
}


.solr-results-header-l{
  float:left;
  padding:0 0 0 12px;
}

.solr-results-header-r{
  float:right;
}
span.hl {
  font-weight:bold;
}


/*CLEARFIX*/
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
}
.clearfix {
	display: block;/*the holly hack for a bug in IE6 for Windows*/
}
* html .clearfix {height: 1%;}/* Hides from IE-mac \*/
/* END CLEARFIX*/
.clear {
	clear: both;
}
